html {
	height:100%;
}

body {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
	margin-bottom: 0px;
}

#versionTag {
	font-style: italic;
	position: relative;
    top: -5px;
    left: 10px;
}

#welcomeBanner {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#logoutButton {
	width: 99%;
    margin: auto;
}

#macAddressList {
	list-style-type: none;
}

#macAddressList>li {
    display: flex;
    justify-content: space-around;
}

#macAddressList>li>button {
	line-height: 85%;
}

.section {
	margin: auto;
	width: fit-content;
	max-width: 80%;
	display: flex;
    flex-direction: column;
}

.hidden {
	display: none !important;
}

.center-text {
	text-align: center;
}
