#versionTag {
	font-style: italic;
	position: relative;
    top: -5px;
    left: 10px;
}

h1, h2 {
	margin-bottom: 0px;
}

#logoutButton {
	width: 95%;
    margin: auto;
}

.hidden {
	display: none !important;
}

.section {
	margin: auto;
	width: fit-content;
	display: flex;
    flex-direction: column;
}

#macAddressList {
	list-style-type: none;
}

#macAddressList>li {
    display: flex;
    justify-content: space-around;
}

#macAddressList>li>button {
	line-height: 85%;
}